empty_field:
    Toto pole nesmí zůstat prázdné!

password:
    Heslo

incorrect_email:
    Špatně zadaný E-mail!

incorrect_passwd:
    Špatně zadané heslo!

signin:
    submit: Přihlásit
    dont_have_account: Nemáte účet?
    create_account: Vytvořte si bezplatný účet!

signup:
    name: Jméno
    surname: Příjmení
    password_again: Heslo znovu
    submit: Vytvořit bezplatný účet
    incorrect_name: Nesprávné jméno!
    name_length: Jméno musí být alespoň %d znaky dlouhé!
    incorrect_surname: Nesprávné příjmení!
    surname_length: Příjmení musí být alespoň %d znaky dlouhé!
    incorrect_passwd: Heslo musí obsahovat nejméně 8 znaků jedno velké písmeno a jedno číslo!
    same_passwds: Hesla se musí shodovat!
    already_signup: Máte již účet?
    signin: Přihlaste se!