signinForm:
    incorrect_email: Špatně zadaný email!
    empty_email: Pole s emailem nesmí zůstat prázdné!
    incorrect_passwd: Nesprávné heslo!
    empty_passwd: Pole s heslem nesmí zůstat prázdné!
    incorrect_passwd_or_email: Zadaný e-mail nebo heslo nejsou správné!


signupForm:
    incorrect_name: Nesprávné jméno!
    name_length: Jméno musí být alespoň %d znaky dlouhé!
    empty_name: Pole se jménem nesmí zůstat prázdné!
    incorrect_surname: Nesprávné příjmení!
    surname_length: Příjmení musí být alespoň %d znaky dlouhé!
    empty_surname: Pole s příjmením nesmí zůstat prázdné!
    incorrect_email: Špatně zadaný e-mail!
    empty_email: Pole s emailem nesmí zůstat prázdné!
    incorrect_passwd: Heslo musí obsahovat nejméně 8 znaků jedno velké písmeno a jedno číslo!
    same_passwds: Hesla se musí shodovat!
    empty_passwd: Pole s heslem nesmí zůstat prázdné!